@import url('styles.css');
@import url('about.css');

main .hero-section-2 {
  display: flex;
  width: 100%;
  height: 400px;
  position: relative;
  background-color: var(--green-color);
  background: url('../img/_ABY1959.jpg');
  background-size: cover;
  background-position-y: 30%;
  background-position-x: 60%;
}
.hero-section-2::before {
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(30deg,rgba(21,27,38,.8) 0,rgba(0,0,0,.2) 100%);
  backdrop-filter: 50%;
}
.hero-section-2 .hero-header-2 {
  max-width: 300px;
  position: relative;
  top: 220px;
  color: var(--white-color);
  z-index: 1;
}
.hero-header-2 h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
.hero-header-2 p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
main .contact-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-section .contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  place-content: center;
}
/* Left contact page */
.contact-wrapper .contact-form {
  font-family: 'Lato';
  font-weight: 400;
  padding: 20px;
}
.contact-form .form-group {
  margin-bottom: 10px;
}
.form-group .form-control {
  letter-spacing: 1px;
  width: 100%;
}
.form-group .name-input,
.form-group .email-input {
  height: 34px;
}
.send-button {
  margin-top: 10px;
  width: 100%;
  height: 34px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.alt-send-button {
  width: 100%;
  height: 34px;
  transition: all .2s ease-in-out;
}
.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}
.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}
/* Begin Right Contact Page */
.contact-wrapper .contact-info {
  padding: 15px;
}
.contact-info .contact-list {
  display: block;
  color: var(--text-color);
}
.contact-list .list-item {
  margin-bottom: 10px;
}
.list-item i {
  font-size: 20px;
}
.list-item .contact-text {
  margin-left: 10px;
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
}
.contact-text a {
  color: var(--text-color);
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: var(--blue-color);
}
/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.social-media-list li a {
  color: #fff;
}
.social-media-list li {
  position: relative; 
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}
.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}
.social-media-list li:hover {
  background-color: #fff; 
}
.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}
.social-media-list li:hover a {
  color: #000;
}
.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}
hr {
  border-color: rgba(255,255,255,.6);
}