/* Media query for responsiveness */
@media (max-width: 600px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }
  .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: var(--size-70);
      background-color: var(--navy);
      z-index: 1; /*Ensure the menu is above other content*/
  }
  .navbar-menu.active {
      display: flex;
  }
  .testimonial-section {
    display: none;
  }
}
/* Who are we section  */
@media (max-width: 600px) {
  .who-are-we-wrapper {
    flex-wrap: wrap-reverse;
  }
}
/* Testimonial section  */
@media (min-width: 1200px) {
  .large-container {
    max-width: 1120px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-section .sec-title {
    margin-bottom: var(--size-50);
  }
}
@media only screen and (max-width: 1366px) {
  .large-container {
    padding-left: var(--size-20);
    padding-right: var(--size-20);
  }
}
/* Contact section  */
@media (max-width: 600px) {
  .contact {
    margin-top: 0;
  }
  .form {
    display: none;
  }
}