/* Media query for responsiveness */
@media (max-width: 600px) and (min-width: 390px) {
	.navbar-brand img {
		width: var(--size-100);
	}
	[aria-controls="navbarDropdown"] {
		display: block;
	}
	.navbar-menu {
		display: none;
		flex-direction: column;
		position: absolute;
		width: 100%;
		top: var(--size-100);
		background-color: white;
		z-index: 1; /*Ensure the menu is above other content*/
	}
	.navbar-menu.active {
		display: flex;
	}
	/* Testimonial section  */
	.testimonial-section {
		display: none;
	}
	/* Who are we section  */
	.who-are-we-wrapper {
		flex-wrap: wrap-reverse;
	}
	/* Contact section  */
	.contact {
		margin-top: 0;
	}
	.form input {
		width: 350px;
	}
	.form textarea {
		width: 380px;
	}
	.footer .container {
		padding-top: var(--size-50);
	}
	.about-panel-wrapper {
		display: none;
	}
	.row .about-content {
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 389px) {
	/* Testimonial section  */
	.testimonial-section {
		display: none;
	}
	/* Who are we section  */
	.who-are-we-wrapper {
		flex-wrap: wrap-reverse;
	}
	.service-grid {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.why-us-grid {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		max-width: 1200px;
	}
	.form input {
		width: 300px;
	}
	.form textarea {
		width: 300px;
	}
}
/* Testimonial section  */
@media (min-width: 1200px) {
	.large-container {
		max-width: 1120px;
	}
}
@media only screen and (max-width: 767px) {
	.testimonial-section .sec-title {
		margin-bottom: var(--size-50);
	}
}
@media (max-width: 980px) {
	.left {
		margin-bottom: var(--size-20);
	}
}
@media only screen and (max-width: 1366px) {
	.large-container {
		padding-left: var(--size-20);
		padding-right: var(--size-20);
	}
}
