.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding: 1rem;
}
[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--green);
}
.nav-link a {
  color: var(--white);
  font-size: 0.8125rem;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-right: 1.5rem;
}
.bg-header,
.bg-demo {
  background-color: #012229;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 80%;
  position: relative;
  z-index: 1;
  padding: 7.1875rem 0;
}
.bg-header {
  background-image: var(--bg-header);
}
.bg-demo {
  background-image: var(--bg-demo);
  text-align: center;
}
.bg-header::before,
.bg-demo::before {
  background-image: linear-gradient(
    45deg,
    rgba(21, 27, 38, 0.8) 8%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-header,
.hero-text {
  color: var(--white);
}
.hero-header {
  font-size: 50px;
}
.who-are-we {
  padding: 100px 0;
}
.who-are-we-wrapper {
  display: flex;
  align-items: center;
}
.who-are-we-wrapper div {
  flex: 1;
}
.block-text {
  margin-right: 50px;
}
.block-text h2,
.service h2,
.why-choose-us h2,
.our-team h2 {
  font-family: "Hind", sans-serif;
  line-height: 1.6;
}
.block-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 0.5rem;
}
.bg-contrast {
  background-color: var(--contrast);
  padding: 20px 0;
  margin: 0 auto;
}
.bg-navy {
  background-color: var(--contrast);
  padding: 20px 0;
  margin: 0 auto;
}
.service {
  margin-top: 150px;
}
.service-header {
  margin-bottom: 80px;
}
.block-text.service-header,
.block-text.why-us {
  text-align: center;
  padding-right: 0;
}
.service-grid,
.why-us-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
}
.service-card,
.why-us-card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(48, 63, 108, 0.15);
  background: var(--white);
  border-radius: 8px;
}
.service-card img,
.why-us-card img {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 50%;
}
.bg-demo .block-text {
  padding: 0;
}
.bg-demo .block-text h2,
.bg-demo .block-text p {
  color: var(--white);
}
.video-box {
  position: relative;
  margin-bottom: -150px;
  z-index: 100;
}
.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(57, 166, 251, 0.3);
}
.video-btn img {
  width: 100px;
  height: 100px;
}
.video-box > img {
  max-width: 600px;
  border-radius: 10px;
}
.why-us {
  margin-top: 150px;
  margin-bottom: 80px;
}
.our-team {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
  padding: 5px 50px;
}
.our-team h2 {
  margin-bottom: 10px;
}
.team-photos {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.photo-card {
  width: 200px;
  padding: 5px;
  margin: auto;
}
.photo-card img {
  height: 200px;
}
.photo-card .details {
  margin-top: 0px;
}
