.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50;
  z-index: 10100;
  transition: ease-in-out 0.3s;
  padding: 1rem;
  background-color: var(--navy);
}
[aria-controls="navbarDropdown"] {
  display: none;
  cursor: pointer;
}
.navbar-toggler {
  background-color: transparent;
  border: transparent;
  color: var(--white);
}
.navbar-toggler > span {
  font-size: var(--size-30);
}
.navbar-menu {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}
.navbar-brand {
  margin-right: auto;
  transition: ease-in-out 0.3s;
}
.navbar-brand img {
  width: var(--size-150);
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.nav-link {
  margin: 0 var(--size-15);
  color: var(--white);
  font-size: 0.8125rem;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5rem;
  margin-right: 1.5rem;
}
.nav-link a {
  color: var(--white);
}
.bg-header,
.bg-demo {
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
  padding: 7.1875rem 0;
  background-size: cover;
}
.bg-header {
  background-image: var(--bg-header);
  overflow: hidden;
}
.bg-demo {
  background-image: var(--bg-demo);
}
.bg-header::before,
.bg-demo::before {
  background-image: linear-gradient(
    30deg,
    rgba(21, 27, 38, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter:  brightness(50%);
}
.hero-header,
.hero-text {
  color: var(--white);
}
.hero-header {
  font-size: var(--size-40);
  line-height: 1.4;
}
.who-are-we {
  padding: var(--size-150) 0;
}
.who-are-we div {
  flex: 1 1 auto;
}
.who-are-we-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.who-are-we-wrapper .block-text {
  padding-right: var(--size-50);
}  
.block-text h2,
.service h2,
.why-us h2,
.our-team h2,
.sec-title h2 {
  font-family: "Hind", sans-serif;
  line-height: 1.5;
}
.block-text h2,
.sec-title h2 {
  font-size: 2.5rem;
  margin-bottom: var(--size-10);
  margin-top: 0.5rem;
}
.btn-primary {
  background-image: linear-gradient(90deg, var(--navy) 0%, var(--green) 100%);
  border: 1px solid var(--green);
  box-shadow: 0 var(--size-10) var(--size-20) rgba(161, 255, 200, 0.5);
  transition: ease-in-out 0.3s;
  color: var(--white);
  padding: 7px var(--size-25);
}
.service,
.why-choose-us {
  padding-bottom: var(--size-100);
  padding-right: 0;
  padding-left: 0;
}
.service {
  padding-top: var(--size-100);
}
.service .container {
  max-width: 1340px;
}
.service-header,
.why-us {
  padding-bottom: var(--size-80);
}
.service-grid,
.why-us-grid {
  display: grid;
  gap: var(--size-20);
  padding: 0 var(--size-10);
}
.service-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.service-card,
.why-us-card {
  padding: var(--size-20);
  box-shadow: 0 0 var(--size-10) rgba(48, 63, 108, 0.15);
  background: var(--white);
  border-radius: 8px;
}
.service-card img,
.why-us-card img {
  margin-right: var(--size-15);
  width: var(--size-70);
  height: var(--size-70);
  float: left;
  border-radius: 50%;
}
.bg-demo .block-text {
  padding: 0;
}
.bg-demo .block-text h2,
.bg-demo .block-text p {
  color: var(--white);
}
.video-box {
  position: relative;
  margin-bottom: -9.375rem;
  z-index: 100;
}
.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 var(--size-10) var(--size-20) rgba(57, 166, 251, 0.3);
}
.video-btn img {
  width: var(--size-100);
  height: var(--size-100);
}
.video-box > img {
  max-width: 600px;
  border-radius: var(--size-10);
}
.why-choose-us {
  padding-top: var(--size-150);
}
.why-us-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
}
.large-container {
  position: static;
  max-width: 1400px;
  padding: 0px var(--size-30);
  margin: 0 auto;
}
.testimonial-section {
  position: relative;
  padding-top: var(--size-40);
  padding-bottom: var(--size-150);
  overflow: hidden;
  background-color: var(--contrast);
}
.testimonial-section:before {
  position: absolute;
  left: -200px;
  top: 22%;
  background-image: url(http://t.commonsupport.com/adro/images/icons/ring-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 701px;
  height: 756px;
  content: "";
  -webkit-animation: fa-spin 25s infinite alternate;
  animation: fa-spin 25s infinite alternate;
}
.testimonial-section .sec-title {
  position: relative;
  margin-bottom: 7.1875rem;
}
.testimonial-section .sec-title .title {
  margin-bottom: var(--size-20);
}
.testimonial-section .testimonial-carousel {
  position: relative;
  max-width: 1100px;
  margin: 0 -var(--size-50);
}
.testimonial-block {
  position: relative;
  padding: var(--size-50);
}
.testimonial-block .inner-box {
  padding: var(--size-80) 105px;
  background-color: var(--white);
  box-shadow: 0 0 var(--size-10) rgba(48, 63, 108, 0.15);
  border-radius: 0.3125rem;
}
.testimonial-block .text {
  position: relative;
  display: block;
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--black);
  font-weight: 400;
  margin-bottom: var(--size-50);
  font-family: "Muli", sans-serif;
}
.testimonial-block .info-box {
  position: relative;
  padding-left: 7.1875rem;
  padding-top: var(--size-10);
}
.testimonial-block .info-box .thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 5.125rem;
  width: 5.125rem;
}
.testimonial-block .info-box .thumb img {
  border: 6px solid #e5e6fa;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: 100%;
  box-shadow: 0 2.8125rem 2.8125rem rgba(147, 147, 147, 0.35);
}
.testimonial-block .info-box .name {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 1.2em;
  color: #382c4d;
  font-weight: 700;
  margin-bottom: var(--size-10);
  font-family: "Niramit", sans-serif;
}
.testimonial-block .info-box .designation {
  position: relative;
  display: block;
  font-size: 1rem;
  line-height: 24px;
  color: #8053f7;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}
.testimonial-carousel .owl-nav {
  position: absolute;
  right: 4.6875rem;
  bottom: var(--size-70);
}
.testimonial-carousel .owl-next, .testimonial-carousel .owl-prev {
  position: relative;
  display: inline-block;
  height: 4.6875rem;
  width: 4.6875rem;
  line-height: 4.6875rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--white);
  transition: all 300ms ease;
}
.testimonial-carousel .owl-next:hover, .testimonial-carousel .owl-prev:hover {
  background-color: var(--navy);
  box-shadow: 0 24px 24px rgba(187, 187, 187, 0.75);
}
.arrow-right, .arrow-left {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 43px;
  background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-left-2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.arrow-right {
  background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-right-2.png);
}
.testimonial-section .thumb-layer {
  position: absolute;
  right: var(--size-30);
  top: 7.5rem;
}
.testimonial-section .thumb-layer .image {
  position: relative;
  margin-right: 0;
}
.testimonial-section .thumb-layer .image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.testimonial-carousel .owl-nav {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: var(--size-20);
    text-align: center;
  }
.testimonial-carousel .owl-next, .testimonial-carousel .owl-prev {
    border: 2px solid var(--white);
  }
.contact {
  padding: var(--size-50) 0;
}
.contact .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
}
.left,
.right {
  font-size: var(--size-15);
  line-height: var(--size-25);
}
.left {
  margin-right: auto;
}
.left img{
  width: 28.125rem;
}
.left i {
  font-size: var(--size-25);
  color: var(--white);
  margin-right: var(--size-10);
}
.right {
  display: block;
}
.form label {
  font-size: 1rem;
}
.form input {
  padding-bottom: var(--size-10);
  width: 500px;
  height: 25px;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
.form .btn {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: var(--black);
  font-size: var(--size-20);
  margin-right: 0.3125rem;
}
.footer .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: var(--size-100);
  padding-bottom: var(--size-50);
  max-width: 1400px;
}
.footer-block {
  margin-right: auto;
}
.footer-block i {
  font-size: 1.125rem;
  margin-right: var(--size-10);
}
.copyright {
  padding: var(--size-20);
  margin: 0;
}